 /*reset all browser defaults */
html, body, h1, h2, h3,
p, ol, ul, li, a{
	padding: 0;
	border: 0;
	margin: 0;
	font-size: 100%;
	font: inherit;
}

nav {
	margin: 15px auto 15px auto;
}
nav a {
	padding: 5px 5px 5px 5px;
	background-color: #5f96bf;
	border: 1px solid black;
	border-radius: 20%;
	margin: 5px 10px 0 5px;
	font-style: bold;
	text-transform: uppercase;
}

a:link {
	color: red;
}

a:visited {
	color: yellow;
}

body {
	background: #b1d4e7;
	font-family: Helvetica, arial, sans-serif;
	padding: 0 200px 0 100px;
	max-width: 960px;
}

.opening img {
	display: block;
	margin: 15px auto 15px auto;
}

h1 {
	font-size: 32px;
	margin: 50px 0 25px 0;
	text-align: center;
}

h2 {
	font-size: 24px;
	text-align: center;
	margin: 50px 0 25px 0;
	font-style: italic;
}
.top-three img {
	border: 2px solid black;
	margin: 5px 5px 5px auto;
}

.top-three h3 {
	color: white;
	font-size: 24px;
	font-weight: bold;
	font-family: Times;
	text-transform: uppercase;
	text-align: center;
	background-color: black;
	opacity: .8;
	width: 300px;
}

#red-hook {
	display: inline-block;
}

#high-line {
	display: inline-block;
}

#cloisters {
	display: inline-block;
}

footer {
	margin-bottom: 100px;
}

ul li {
	margin-left: 15px;
}

@media screen and (max-width: 500px) {
  h1, h2 {
    font-size: 85%;
  }
}